extends layout

block page
  - var menu = 'admin'
block content
  h2 Administration
  .admin
    if(articles.length === 0)
      | Nothing to display.
      | Add a new
      |
      a(href="/post") article.
    else
      table.table.table-stripped
        thead
          tr
            th(colspan="2") Actions
            th Post title
        tbody
          each article, index in articles
            tr(data-id=`${article.id}`, class=(!article.published)? "unpublished":"")
              td.action
                button.btn.btn-danger.btn-sm.remove Remove
              td.action
                button.btn.btn-primary.btn-sm= (article.published)? "Unpublish" : "Publish"
              td= article.title
    script(type="text/javascript", src="/js/admin.js")
