extends layout

block page
  - var menu = 'post'
block content
  h2 Post an article
  div= error
  .col-md-8
    form(action="login", method="post")
      .mb-3
        label.form-label(for="email") Title
        input#title.form-control(name="title", type="text")
      .mb-3
        label.form-label(for="slug") Slug
        input#slug.form-control(name="slug", type="text")
        .form-text This string will be used in the URL.
      .mb-3
        label.form-label(for="text") Text
        textarea#text.form-control(name="text", rows="5")
      button.btn.btn-primary(type="submit") Save
