extends layout

block page
  - var menu = 'admin'
block content
  h2 Administration
  .admin
    if(articles.length === 0)
      | Nothing to display.
      | Add a new
      |
      a(href="/post") article.
    else
      table.table.table-striped
        thead
          tr
            th(colspan="2") Actions
            th Post title
        tbody
          each article, index in articles
            tr(data-id=`${article.id}`, class=(!article.published)? "unpublished":"")
              td.action
                button.btn.btn-danger.btn-sm
                  i.bi.bi-trash
                  | Remove
              td.action
                button.btn.btn-primary.btn-sm
                  if article.published
                    i.bi.bi-arrow-left-circle
                    | Unpublish
                  else
                    i.bi.bi-arrow-right-circle
                    | Publish
              td= article.title
    script(type="text/javascript", src="/js/admin.js")
